*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     font-family: 'Noto Sans', sans-serif;
     font-size: 18px;
     color: #163A24;
}
a{
     display: inline-block;
}
ul{
     list-style-type: none;
}
.container{
     width: 1250px;
     margin: 0 auto;
}
.header{
     background-color: #163A24;
     position: fixed;
     z-index: 1000;
     top: 0;
     left: 0;
     right: 0;
     box-shadow: 0 4px 9px 0 rgba(9, 9, 9, 0.3);
}
.warpper{
     display: flex;
     align-items: center;
}
.navigation{
     margin-left: auto;
}
.nav__menu{
     display: flex;
     align-items: center;
}
.nav__item{
     padding: 24px;
}
.nav__link{
     text-decoration: none;
     color: #fff;
     font-size: 16px;
}
.nav__btn{
     background: #198C36;
     border-radius: 160px;
     padding: 15px 25px;
     transition: .5s ease all;
}
.nav__btn:hover{
     background-color: #116827;
     color: #fff;
}
.bg{
     
     background-color: #163A24;
}
.sec__intro{
     margin-top: 96px;
     height: 544px;
     background-color: #163A24;
     background-image: url(../img/header-img.svg);
     background-repeat: no-repeat;
     background-size: contain;
     background-position: 600px 0;
     margin-bottom: 130px;
}
.intro__title{
     padding-top: 120px;
     width: 391px;
     font-family: 'Recoleta', sans-serif;
     font-weight: 600;
     font-size: 48px;
     line-height: 65px;
     color: #FBFAF7;
     margin-bottom: 18px;
}
.intro__text{
     width: 475px;
     font-size: 18px;
     line-height: 27px;
     color: #FBFAF7;
}


.human__iteam{
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin-bottom: 30px;
}
.text__title{
     font-family: 'Recoleta', sans-serif;
     width: 325px;
     font-weight: 600;
     font-size: 48px;
     line-height: 54px;
     margin-bottom: 27px;
}
.text__p{
     width: 380px;
     line-height: 27px;
}
.width{
     width: 376px;
}
.human__iteam:nth-child(2){
     flex-direction: row-reverse;
}

.partner__title{
     font-family: Recoleta;
     font-weight: 600;
     font-size: 48px;
     line-height: 54px;
     width: 539px;
     margin: 0 auto;
}
.partner{
     margin-top: 120px;
}

.partner__logo{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 60px;
     margin-bottom: 121px;
}

.production{
     background-color: #163A24;
}
.production__position{
     padding: 66px 0 120px 0;
     margin-bottom: 130px;
}
.production__title{
     width: 823px;
     margin: 0 auto;
     font-family: Recoleta;
     font-weight: 600;
     font-size: 48px;
     line-height: 54px;
     color: #FBFAF7;
     margin-bottom: 67px;
}
.production__list{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.production__item::before{
     content: url(../img/sms.svg);
     width: 117px;
     height: 145px;
     margin-left: 35px;
}
.production__text{
     text-align: center;
     width: 198px;
     color: #fff;
     margin-top: 27px;
     line-height: 27px;
}
.before__securty::before{
     content: url(../img/security.svg);
     width: 79px;
     height: 158px;
     margin-left: 55px;
}
.before__manager::before{
     content: url(../img/manager.svg);
     width: 66px;
     height: 145px;
     margin-left: 67px;
}
.before__girl-hand::before{
     content: url(../img/girl-hand.svg);
     width: 95px;
     height: 150px;
     margin-left: 55px;
}

.book{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 120px;
}
.book__title{
     width: 360px;
     font-family: Recoleta;
     font-weight: 600;
     font-size: 48px;
     line-height: 54px;
     margin-bottom: 25px;
}
.book__text{
     line-height: 27px;
}
.book__link{
     display: inline-block;
     font-size: 16px;
     line-height: 22px;
     color: #fff;
     text-decoration: none;
     margin-top: 19px;
}

.started{
     padding: 114px 0 124px 0;
     background-color: #163A24;
     position: relative;
}
.started__decaration::before{
     content: url(../img/decration.svg);
     position: absolute;
     top: 20px;
     left: 0;
}
.started__decaration::after{
     content: url(../img/decaration-1.svg);
     position: absolute;
     top: 20px;
     right: 0;
}
.started__title{
     width: 549px;
     margin: 0 auto;
     font-family: Recoleta;
     font-weight: 600;
     font-size: 48px;
     line-height: 54px;
     color: #FBFAF7;
     margin-bottom: 26px;
}
.started__text{
     line-height: 27px;
     text-align: center;
     color: #FBFAF7;
     margin-bottom: 18px;
}
.call__link{
     margin-left: 500px;
     font-size: 16px;
     line-height: 22px;
     text-decoration: none;
     color: #163A24;
     background-color: #FAB5A0;
}

.sing-up{
     background-color: #F2EFE6;
}
.sing-up__list{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 60px 0;
}
.list__title{
     width: 342px;
     font-family: Recoleta;
     font-weight: 600;
     font-size: 48px;
     line-height: 54px;
     margin-bottom: 26px;
}
.list__text{
     width: 299px;
     line-height: 27px;
}
.forms__text{
     width: 524px;
     font-size: 14px;
     line-height: 21px;
}
.form__input{
     width: 553px;
     padding: 15px 30px;
     background: #FFFFFF;
     border: 1px solid #F2EFE6;
     box-sizing: border-box;
     border-radius: 255px;
     outline: none;
     margin-bottom: 11px;
}
.form__button{
     position: relative;
     right: 74px;
     padding: 15px 25px;
     font-size: 16px;
     line-height: 22px;
     color: #FBFAF7;
     background-color: #15762E;
     border-radius: 160px;
     border:none;
}
.text__link{
     text-decoration: none;
     color: #198C36;
}

.footer__list{
     padding: 44px 0 25px 0;
}
.footer__item{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.footer__item:nth-child(1){
     margin-bottom: 77px;
}
.company__title{
     font-family: Recoleta;
     font-weight: 600;
     font-size: 24px;
     line-height: 36px;
}
.social-media{
     display: flex;
     align-items: center;
}
.social__item{
     margin-left: 14px;
}
.links{
     display: flex;
     align-items: center;
}
.social__link{
     transition: 0.4s all ease;
}
.social__link:hover{
     transform: translatey(-10px);
}
.item__text{
     font-size: 14px;
     line-height: 21px;
}
.link{
     display: inline-block;
     font-size: 14px;
     line-height: 19px;
     color: #198C36;
     margin-left: 14px;
     text-decoration: none;
}